.channel {
    display: grid;
    grid-template-columns: 100px 200px 1fr;
    align-items: center;

    margin-top: 20px;
}

.channel-left {
    width: 80px;
}

.channel-img {
    width: 100%;
    border-radius: 100%;
}


.channel-subscribe {
    display: flex;
    justify-content: end;
}

.channel-title {
    font-size: 25px;
    margin-top: -4px;
}

.channel-handle {
    margin-top: 4px;
    font-size: 14px;
    color: #606060;
}

.subscribe {
    border-radius: 70px;
}

.channel-art {
    width: 100%;

    display: flex;
    position: relative;

    font-size: 10px;

}

.channel-art-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

.channel-links {
    background-color: rgba(214, 208, 208, 0.2);
    color: white;
    width: 210px;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 3px;
}

.channel-links-img {
    width: 16px;
    border-radius: 100%;
    cursor: pointer;
}

.channel-link {
    color: white;
    text-decoration: none;
}