@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: Roboto, Arial;
    margin: 0;

}   

p {
    margin-top: 0;
    margin-bottom: 0;
}


main {
    
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;


}
