nav {
    height: 60px;
    padding-left: 25px;
    padding-right: 20px;

    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;

   
     
}

/* navbar left */
.navbar-left {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.humbergar-img {
    height: 25px;
}

.youtube-img {
    width: 92px;
    margin-left: 20px;
     
}



/* navbar middle */
.navbar-middle {
     
    width: 650px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-middle-search {
   
    width: 600px;
    font-size: 16px;

    border-style: solid;
    border-color: #d7d3d3;
    border-width: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    padding: 10px 16px;
}

.navbar-middle-search::placeholder {
    color: rgb(147, 146, 146);
}

.navbar-middle-search:focus-visible {
    border: 1px solid rgb(215, 212, 212);
}


.navbar-middle-search-btn {
    width: 80px;
    height: 41px;
    background-color: #f8f8f8;
    border-color: #d7d3d3;
    border-width: 1px;
    border-style: solid;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    margin-left: -1px;
     
    cursor: pointer;
     
}


.navbar-middle-search-btn:hover {
    background-color: #e9e7e7;
}

.navbar-middle-search-img {
    width: 25px;
    padding-top: 7px;
}

.navbar-middle-voice-btn {
    width: 50px;
    height: 42px;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    border-width: 1px;
    border-style: solid;
    border-radius: 22px;
    margin-left: 15px;
    cursor: pointer;
}

.navbar-middle-voice-btn:hover {
    background-color: #e9e7e7;

}

.navbar-middle-voice-img {
    width: 26px;
    height: 26px;
    padding-top: 4px;
}



/* navbar right */
.navbar-right {
    
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.humbergar-img,
.navbar-right-apps,
.navbar-right-notification,
.navbar-right-upload {
    width: 26px;
    height: 26px;
    border-radius: 22px;
    padding: 8px;
    cursor: pointer;
     
}

.humbergar-img:hover,
.navbar-right-apps:hover,
.navbar-right-notification:hover,
.navbar-right-upload:hover {
    background-color: #e9e7e7;
}

 

.navbar-right-channel {
    width: 35px;
    cursor: pointer;
    border-radius: 20px;
}